<footer class="px-8 py-12 bg-black ">
    <ul class="flex lg:flex-nowrap flex-col lg:flex-row flex-wrap justify-center gap-7 text-lg font-medium text-gray-500 text-center">
        <li class="xl:mr-10 order-1 lg:order-1">&copy; 2024 by NORTHPOLE. Powered and secured by DJ</li>
        <li class="lg:order-1 order-5"><a href="">FAQ</a></li>
        <li class="lg:order-1 order-4"><a href="">Groups</a></li>
        <li class="lg:order-1 order-3"><a href="">Shipping & Returns</a></li>
        <li class="lg:order-1 order-2"><a href="">Terms & Conditions</a></li>
    </ul>
</footer>